$fontHead: 'Georgia';
$fontText: 'Arial';
$colorPrimary: #F1CDB3;
$colorPrimaryLight: #FDDCC4;

$textColorBlack: #292929;
$textColorGray: #CDCDCD;
$textColorDark: #545454;

@mixin title {
    font-family: $fontHead;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $textColorBlack;
}

@mixin flex($jc) {
    display: flex;
    justify-content: $jc;
    align-items: center;
}

@mixin control($bc) {
    @include flex(center);
    height: 52px;
    width: 52px;
    font-family: $fontHead;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    border-radius: 100%;
    background-color: $bc;
    border: 2px solid $colorPrimaryLight;
    
    &:hover {
        cursor: pointer;
        background-color: $colorPrimaryLight;
        transition-duration: .3s;
    }

    &:active {
        cursor: pointer;
        transition-duration: 0.3s;
    }
}

@mixin controlDisabled() {
    color: $textColorGray;
    border: 2px solid $textColorGray;
    background-color: transparent;
    cursor: default;

}

@mixin btn {
    @include title;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    font-size: 17px;
    background-color: $colorPrimary;

    &:hover {
        background-color: $colorPrimaryLight;
        transition-duration: 0.3s;
    }
    &:active {
        color: white;
        transition-duration: 0.3s;
    }
}

@mixin btn2 {
    @include title;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    font-size: 17px;
    border: 2px solid $colorPrimaryLight;

    &:hover{
        background-color: $colorPrimaryLight;
        transition-duration: 0.3s;
    }
}